.sidebar {
    width: 18rem;
    margin-right: 2rem;
}

.aboutList {
    list-style: none;
    padding: 1rem;
}

.aboutListItem {
    padding: 1rem 0;
    color: var(--blue);
}

.aboutListItem:hover {
    color: var(--bright-blue);
}

.aboutListItemActive {
    padding: 1rem 0;
    color: var(--bright-blue);
}

.overviewList {
    list-style: none;
}

.allPrograms {
    color: var(--bright-blue);
    padding: 0rem 1rem 1rem 1rem;
    font-weight: 700;
    font-size: 16px;
}

.allPrograms:hover {
    text-decoration: underline;
}

.dates {
    color: var(--bright-blue);
}

.dates:hover {
    text-decoration: underline;
}

.headerBox {
    padding: 1rem;
}

.info {
    padding: 1rem;
    color: var(--blue);
}

.headerInfo {
    color: var(--blue);
    padding-bottom: 0.75rem;
    font-size: 28px;
}

.infoText {
    width: 15rem;
}

.infoList {
    padding: 1rem 1rem 1rem 2rem;
}

.header {
    max-width: 20rem;
    font-size: 18px;
    color: var(--blue);
}

.headerOverview {
    padding: 1rem;
    max-width: 20rem;
    font-size: 28px;
    color: var(--blue);
}

.overviewListWhole {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: var(--blue);
}

.programName {
    padding: 1rem 1rem 0rem 1rem;
    max-width: 19rem;
    color: var(--blue);
}

.blue {
    color: var(--bright-blue);
}

.blue:hover {
    text-decoration: underline;
}

/* Desktop */ 
@media only screen and (min-width: 1000px) {
    
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .about {
        display: none;
    }
    .sidebar {
        width: 100%;
        margin-right: 2rem;
    }
    .infoText {
        width: 100%;
    }
    
}


/* Mobile */
@media only screen and (max-width: 600px) {

}
