.footer {
    display: flex;
    flex-direction: row;
    padding: 0 6rem 3rem;
    justify-content: space-between;
    color: var(--blue);
}

.line {
    width: 2rem;
    height: 0.1rem;
    background-color: var(--blue);
    border-radius: 5px;
}

.headerWithLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.topSec {
    padding: 1.5rem 1rem 1.5rem;
}

.address {
    padding-bottom: 0.5rem;
    font-size: 14px;
}

.bcitSite {
    padding-bottom: 0.5rem;
    font-size: 14px;
    color: var(--bright-blue);
    font-weight: 700;
}

.bcitSite:hover {
    color: var(--blue);
}

.blue {
    color: var(--bright-blue);
}

.blue:hover {
    color: var(--blue);
    cursor: pointer;
}

.contact {
    color: var(--bright-blue);
    font-size: 14px;
    font-weight: 700;
    padding: 0.5rem 0;
}

.contact:hover {
    color: var(--blue);
}

.bottomSec {
    padding: 0 1rem 1rem;
}

.colOne {
    max-width: 15rem;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 3rem;
    padding-top: 2rem;
}

.colTwo {
    font-size: 18px;
    width: 15rem;
    padding: 1rem;
    color: var(--bright-blue);
}

.colThree {
    font-size: 18px;
    width: 15rem;
    padding: 1rem;
    color: var(--bright-blue);
}

.colFour {
    font-size: 18px;
    width: 15rem;
    padding: 1rem;
}

.link {
    padding-bottom: 1rem;
}

.link:hover {
    color: var(--blue);
}

.header {
    font-size: 16px;
    line-height: 1.4rem;
}

.headerWithLineTwo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}

.lineTwo {
    width: 2rem;
    height: 0.1rem;
    background-color: var(--blue);
    border-radius: 5px;
    margin-top: 0.70rem;
}

.location {
    color: var(--bright-blue);
    padding: 0.5rem 0 0.5rem;
}

.location:hover {
    color: var(--blue);
}

.smallText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--bright-blue);
    font-size: 14px;
    padding-top: 3rem;
}

.smallTextHover:hover {
    color: var(--blue);
}

.mobileSmall {
    display: none;
}

/* Desktop */ 
@media only screen and (min-width: 1000px) {
    
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .footer {
        padding: 0 3rem 2rem;
        justify-content: space-between;
        color: var(--blue);
    }
    .colOne {
        max-width: 10rem;
    }
    .address {
        line-height: 1.5rem;
    }
    .contact {
        line-height: 1.5rem;
    }
    .socials {
        padding-right: 0rem;
    }
    .colTwo {
        width: 10rem;
    }
    .colThree {
        width: 10rem;
    }
    .colFour {
        width: 10rem;
        line-height: 2rem;
    }
    .smallText {
        flex-direction: column;
    }
    .headerWithLineTwo {
        gap: 0.5rem;
    }
    .lineTwo {
        width: 4rem;
        height: 0.1rem;
    }
}


/* Mobile */
@media only screen and (max-width: 600px) {
    .footer {
        padding: 0 1rem 2rem;
        flex-direction: column-reverse;
        justify-content: space-between;
        color: var(--blue);
    }
    .address {
        line-height: 1.5rem;
    }
    .contact {
        line-height: 1.5rem;
    }
    .socials {
        padding-right: 12rem;
    }
    .colOne {
        max-width: 25rem;
    }
    .colTwo {
       display: none;
    }
    .colThree {
       display: none;
    }
    .colFour {
        line-height: 2rem;
        width: 18rem;
    }
    .smallText {
        display: none;
    }
    .headerWithLineTwo {
        gap: 0.5rem;
    }
    .mobileSmall {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--bright-blue);
        padding-top: 3rem;
        font-size: 15px;
    }
}
